html{   
    min-height:100%;
    max-height:50%;
    background: url('DSC_0008.jpg');
    background-size:cover;
    background-repeat:no-repeat;
    background-position:top;
    background-attachment:fixed;
    font-weight:100;
    }
.title{
    text-align:center;
     text-shadow:1px 1px rgb(155,155,150);
}

.jobs1{
    font-weight: 700;
    align-content:center;
    font-size:22px;
}
ul{
    text-align:left;
    font-size:20px;
}
body{
    
    font-family: "times new roman";
    border-radius:20px;
    
    background:rgba(220,220,230,.95);
    background-size:cover;
    display:flex;
    padding:30px;
    margin:25px;
    flex-direction:column;
   
   
    justify-content:center;
    
}

.name{
    text-align:center;
    margin:15px;
    font-size:20px
}
#description{
    font-family: serif;
    font-size:19px;
    text-align:left;
    
}
table, td, th{
    
    border: 3px black;
    font-family:serif;
}
tr{
    text-align:left;
}
td{
    width:50%;
    font-size:17px;
}
.pic{
    max-width: 60%;
    margin-left:auto;
    margin-right:auto;
    border-radius:10px;
}

.about_me{
    text-shadow:1px 1px rgb(155,155,150);
}

.work{
     text-shadow:1px 1px rgb(155,155,150);
}
.footer {
  position:fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: ;
  background-color: rgba(220,220,230,0.8);
  text-align: center;
}
.button {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #20538D;
    display:inline-block;
    
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    background: #4479BA;
    color: #FFF;
    padding:9px 16px;
    margin:12px;
    text-decoration: none;
}
